header{
    padding: 30px;
    padding-top: 50px;
    height: 16%;
    text-align: center;
    background: white;
    left: 0;
    font-size: large;
}

body{
    background: #f1f1f1;
    font-family: 'Courier New', monospace;
}

input[type=search][name=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search.gif');
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* margin-top: -800px; */
    transition: width 0.4s ease-in-out;
    width: 15%;
}
  
input[type=search][name=search]:focus {
    width: 100%;
}

input[type=text][name=name] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('person.png');
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 40px;
    width: 15%;
}

input[type=password] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('password.png');
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 42px;
    margin-top: 20px;
    width: 15%;
}

input[type=submit] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(179, 208, 255, 0.3);
}

.leftcolumn {
    padding: 20px;
    width: 200px; /* or any desired width */
    height: 100vh; /* Make the height equal to the viewport height */
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-right: 0;
    display: flex;
    flex-direction: column; /* This will make the items inside the column stack vertically */
  }

.rightcolumn{
    padding-left: 200px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5px;
}  

#firstcard {
    background-color: white;
    padding: 20px;
    /* margin-top: -750px; */
    margin-right: 5px;
}

footer{
    padding: 30px;
    padding-top: 50px;
    height: 16%;
    text-align: center;
    background: black;
    color: white;
    margin-top: 20px;
    position: sticky;
}

.error {
    padding: 30px;
    text-align: center;
    background: red;
    font-size: x-large;
    font-weight: bold;
}