<html>
    <head>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <h2>leftcolumn</h2>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>First data</h2>
                </div>
                <div class="card">
                    <h2>Second data</h2>
                </div>
                <div class="card">
                    <h2>third data</h2>
                </div>
                <div class="card">
                    <h2>fourth data</h2>
                </div>
                <div class="card">
                    <h2>fifth data</h2>
                </div>
            </div>
        </div>
        <footer>
            <h1>Footer</h1>
        </footer>
        <script src="/static/script.js"></script>
    </body>
</html>